@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: "Noto Sherif KR", sans-serif !important;
    background: #ffffff;
    background-color: #ffffff;
	border-style: none;
	margin: auto;
	max-width: 750px;
    word-break: keep-all;
}

header {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 5px;
    color: #0042A1;
    background-color: #0042A1;
}

header a {
    text-decoration: none;
}

header .title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    /* color: #0042A1; */

    /* border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #0042A1;
    padding-left: 10px; */
}

header img.logo {
    margin-right: 1px;
    width: 38px;
    height: 38px;
    vertical-align: middle;
    transform: translate(0px, -3px);
}

header img.title {
    margin-right: 1px;
    width: 98px;
    /* height: 28px; */
    vertical-align: middle;
    transform: translate(0px, -3px);
    /* background-color: #193B82; */
    padding: 3px;
    border-radius: 3px;
}


header .subtitle {
    font-weight: bold;
    font-size: medium;
    color: rgb(99, 99, 99);
}

header .charnum {
    font-weight: bolder;
    font-size: x-large;
    color: #F8D548;
    -webkit-text-stroke: 1px black;
}

article {
    margin-top: 35px;
    margin-bottom: 85px;
    margin-left: 5px;
    margin-right: 5px;
}

article div {
    text-align: center;
}

article .elections_title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: x-large;
    font-weight: bold;
}

article .elections_date {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: medium;
    color: rgb(68, 68, 68);
}

article .candidate {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 5px 5px #F3F3F4;
    border-radius: 15px;
    border-color: #F3F3F4;
    border-width: 1px;
    border-style: solid;
    transition: 0.25s;
}

article .candidate:hover {
    background-color: #E3F1FD;
}

article .candidate div {
    text-align: center;
}

article .candidate_kind {
    margin: 10px;
    font-size: large;
    font-weight: bolder;
    color:#0B68B3;
}

article .candidate_name {
    margin: 10px;
    font-size: x-large;
    font-weight: bold;
}

article .candidate_banner img {
    width: 100%;
}

article .candidate_link {
    margin: 30px;
}

article .candidate_link a {
    text-decoration: none;
    color: white;
    background-color:#0B68B3;
    padding: 15px;
    border-radius: 10px;
    line-height: 180%;
}

article .candidate_link a img {
    width: 15px;
    margin-left: 10px;
    margin-right: 5px;
}

footer {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
    font-size: small;
    
    color: rgb(112, 112, 112);
}

footer h4 {
    margin-top: 15px;
}

footer a {
    color: rgb(112, 112, 112);
}

footer a:hover {
    font-weight: bold;
}

footer .sharing {
    text-align: center;
    margin: 5px;
}

footer .sharing img {
    padding:15px;
    width: 32px;
}

footer .credit img {
    width: 90%;
    max-width: 90px;
    /* border-radius: 50%;    */
    margin-top: 15px;
}

footer .creators {
    width: 100%;

}

footer .creator {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 40%;
}

footer .name {
    font-weight: bold;
    font-size: large;
}

footer .credit a {
    text-decoration: none;
}

footer .credit {
    margin-bottom: 25px;
}